.header {
  margin: 0 2.5rem;
  padding: .5rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.headerLeft {
  display: flex;
  align-items: center;
}

a > span {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

a > span:hover {
  color: red;
}

.header__icon {
  width: 100px;  
  height: auto;
  cursor: pointer;
}

/* Larger on bigger screens */
@media (min-width: 768px) {
  .header__icon {
    width: 100px;
  }
}

@media (min-width: 1024px) {
  .header__icon {
    width: 140px;
  }
}